.balance-box {
    width: 100%;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px;
}

.balance-description {
    width: 100%;
    font-weight: bold;
}

.balance-value {
    width: 100%;
    text-align: center;
    font-size:x-large;
    font-weight: bold;
}