.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bank-item {
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bank-link {
  display: block;
  color: #333;
  text-decoration: none;
}

.bank-link:hover {
  text-decoration: underline;
}

.bank-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  display: block;
}
