.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
}

.content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.bank-item {
  margin-bottom: 50px;
}

.bank-button {
  display: block;
  margin: 0 auto;
}
