.toolbar {
  width: 100%;
  display: flex;
  padding: 10px;
}

.transactions-tool {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.transfer-tool {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.tool-icon {
  width: 100%;
  padding: 10px;
}

.tool-icon-image {
  width: 30%;
  max-width: 60px;
}
